<div class='row'>
	<div class='col-md-9'>
		<video-cell id="{{detailCtrl.id}}"
					name="{{detailCtrl.name}}"
					description="{{detailCtrl.description}}"
					url="{{detailCtrl.url}}"
					ratings="{{detailCtrl.ratings}}">
		</video-cell>
	</div>
	<div class='col-md-3'><video-list limit=2 column-class="col-md-12"></video-list></div>
</div>
<div infinite-scroll="detailCtrl.loadMore()" infinite-scroll-distance=0>
	<div ng-repeat="num in detailCtrl.infiniteScrollArray">
		<video-list skip="num" limit=4></video-list>
	</div>
</div>
